@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
a {
  background-color: transparent;
}
strong {
  font-weight: bolder;
}
img {
  border-style: none;
}
button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
}
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-tap-highlight-color: transparent !important;
}
html {
  width: 100%;
  height: 100%;
  -ms-overflow-style: scrollbar;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.l-w *,
body {
  box-sizing: border-box;
}
iframe {
  border: none;
}
a {
  color: inherit;
}
button {
  border-radius: 0;
}
span {
  -webkit-line-break: auto;
  line-break: auto;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.s {
  position: relative;
}
.l-m .s:last-child,
.l-m .s:last-child .s-fs {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.l-m .s-o,
.l-m .s-w {
  height: 100%;
}
.s-bg {
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
  z-index: 0;
}
.s-bg,
.s-bg-l {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.s-bg-l picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.s-c {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
}
@supports (padding: max(0)) {
  .s-c {
    padding-left: max(0, env(safe-area-inset-left));
    padding-right: max(0, env(safe-area-inset-right));
  }
}
@supports (-webkit-marquee-repetition: infinite) and (object-fit: fill) {
  .s-bg {
    clip-path: content-box;
  }
}
.bgpos-center-center picture img {
  object-position: 50% 50%;
}
.wnd-w-wide .n-l,
.wnd-w-wide .s-c {
  max-width: 95rem;
}
.wnd-s-normal .s-c {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.wnd-s-high .s-c {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
.wnd-s-high.s-f .s-c {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.wnd-h-auto {
  height: auto;
}
.wnd-h-auto.s-hm:not(.s-hm-bdh) {
  min-height: 12.5rem;
}
.wnd-hh-auto {
  height: auto;
  min-height: 12.5rem;
}
.wnd-p-cc .s-c {
  justify-content: center;
  align-items: center;
}
.wnd-p-cc .i-a {
  text-align: center;
}
@supports (padding: max(0)) {
}
.b {
  padding: 0;
  margin: 0;
}
.b-c {
  position: relative;
  overflow: hidden;
}
.b.wnd-align-center > div {
  text-align: center;
}
.b-s {
  padding: 0.625rem;
}
.b-s-t0 {
  padding-top: 0 !important;
}
.b-s-b0 {
  padding-bottom: 0 !important;
}
.b-s-t60 {
  padding-top: 0.375rem;
}
.b-s-b60 {
  padding-bottom: 0.375rem;
}
.b-s-t150 {
  padding-top: 0.9375rem;
}
.b-s-b150 {
  padding-bottom: 0.9375rem;
}
.b-cs {
  margin: 0 auto;
}
.c .b-cs:not(.item-perex) {
  max-width: 100% !important;
}
.wnd-w-wide .b-cs {
  max-width: 62.6875rem;
}
.l .l-page .t .b-text .wnd-align-center {
  text-align: center;
}
.b-text a {
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out,
    text-decoration-color 0.2s ease-in-out;
  text-underline-offset: 2px;
  text-decoration: underline from-font;
}
body.wnd-fe:not(.touched) .b-text a:hover {
  text-decoration-color: currentcolor !important;
}
.b-text h2 a {
  text-underline-offset: 3px;
}

/*! PhotoSwipe main CSS by Dmytro Semenov | photoswipe.com */
::selection {
  background-color: rgba(105, 160, 215, 0.4);
}
.ez,
.sw {
  padding: 0;
  margin: 0;
}
.ez {
  position: relative;
}
.c,
.ez {
  container: c/inline-size;
}
.c {
  float: left;
}
.it {
  max-width: 100%;
}
.it,
.it-c {
  display: inline-block;
}
.it-c {
  padding: 0.3125rem 0.625rem;
}
.logo-classic .b-l {
  max-width: 15rem;
  overflow: hidden;
  margin-left: calc(-0.3125rem - 0.21em);
}
.logo-classic .b-l-c {
  display: table;
  padding: 0.125rem 0.3125rem;
}
.logo-classic .b-l-text {
  display: table-cell;
  vertical-align: middle;
}
.logo-classic .b-l-text-c {
  display: block;
  overflow: hidden;
  padding-left: 0.21em;
  padding-right: 0.21em;
}
.logo {
  line-height: 1.45;
}
.logo.logo-25 {
  font-size: 0.95rem;
}
.logo .b-l-text-c {
  max-height: 2.9em;
}
#menu-mobile {
  display: none;
  pointer-events: all;
}
#menu:after {
  content: "mobile";
  display: none;
}
.wnd-page {
  overflow: hidden;
}
.s-hn .cart-and-mobile {
  top: auto;
}
.claim {
  letter-spacing: 0;
}
.sit {
  position: relative;
  padding: 0.3125rem;
  overflow: hidden;
}
.sit,
.sit-w {
  display: inline-block;
  max-width: 100%;
}
.sit .sit-c {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  display: inline;
  font-size: inherit;
  padding: 0;
  position: static;
}
.metropolis {
  font-family: Metropolis, Metropolis-Fallback, Apple Color Emoji,
    Noto Color Emoji, sans-serif;
  font-weight: 200;
}
.metropolis strong {
  font-weight: 500;
}
.claim {
  line-height: 0;
}
.claim .claim-72 {
  font-size: 2.4375rem;
}
.claim-nb {
  line-height: 156%;
}
.claim-default .sit-w {
  text-wrap: wrap;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}
.b-text-c {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.b-btn {
  text-align: center;
}
.b-btn .b-btn-l {
  transition: all 0.3s;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-style: solid;
}
.wnd-fe .b-btn .b-btn-l,
.wnd-fe .b-btn .b-btn-l .b-btn-t {
  cursor: pointer;
}
.b-btn-s-l .b-btn-l {
  min-width: 100%;
  max-width: 100%;
  padding: 0.875rem 2rem;
}
.b-btn-bw-1 .b-btn-l {
  border-width: 1px;
}
.b-btn-bw-1 .b-btn-l .b-btn-t {
  text-decoration-thickness: 1px;
}
.b-btn-r .b-btn-l {
  border-radius: 5px;
}
.b-form-light.form input[type="date"].not-empty:not(:focus) {
  padding-bottom: 0.3125rem;
}
@supports (-webkit-marquee-repetition: infinite) and (object-fit: fill) {
}
.l.wnd-fe:not(.wt-checkout).wnd-free-bar-fixed .wnd-page {
  margin-bottom: 3.75rem;
}
.cb-light {
  --cb-background: #fff;
  --cb-text: #222;
  --cb-link-deco: rgba(34, 34, 34, 0.7);
  --cb-scrollbar-track-bg: rgba(0, 0, 0, 0.1);
  --cb-scrollbar-track-shadow: hsla(0, 0%, 71%, 0.075);
  --cb-scrollbar-thumb-bg: #c1c1c1;
  --cb-button-bg: #222;
  --cb-button-color: #fff;
  --cb-button-hover-bg: #383838;
}
.cb-dark {
  --cb-background: #222;
  --cb-text: #fff;
  --cb-link-deco: hsla(0, 0%, 100%, 0.7);
  --cb-scrollbar-track-bg: rgba(0, 0, 0, 0.1);
  --cb-scrollbar-track-shadow: #4a4a4a;
  --cb-scrollbar-thumb-bg: #8f8f8f;
  --cb-button-bg: #fff;
  --cb-button-color: #222;
  --cb-button-hover-bg: #e6e6e6;
}
.cb {
  font-family: Open Sans Flex, Open-Sans-Flex-Fallback, Apple Color Emoji,
    Noto Color Emoji, sans-serif;
  font-size: 0.875rem;
  line-height: 1.71429;
  font-weight: 400;
  position: relative;
  z-index: 201;
}
.cb-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
}
.cb-close:after,
.cb-close:before {
  background: #555;
  position: absolute;
  top: 1.4375rem;
  right: 1.0625rem;
  display: block;
  content: "";
  cursor: pointer;
  height: 0.125rem;
  width: 0.875rem;
}
.cb-close:before {
  transform: rotate(-45deg);
}
.cb-close:after {
  transform: rotate(45deg);
}
.cb-scrollable::-webkit-scrollbar {
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  width: 0.625rem;
  height: 0.625rem;
}
.cb-scrollable::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.375rem var(--cb-scrollbar-track-shadow);
  background-color: var(--cb-scrollbar-track-bg);
  border-radius: 10px;
}
.cb-scrollable::-webkit-scrollbar-thumb {
  background-color: var(--cb-scrollbar-thumb-bg);
  border-radius: 10px;
}
.cb-scrollable::-webkit-scrollbar-button:end:increment,
.cb-scrollable::-webkit-scrollbar-button:start:decrement {
  background-color: transparent;
  height: 0.125rem;
  width: 0.125rem;
  display: block;
}
.cb .close {
  opacity: 0;
  visibility: hidden;
}
.cb-button {
  transition: all 0.3s;
  background: var(--cb-button-bg);
  border: none;
  color: var(--cb-button-color);
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  border-radius: 5px;
  margin: 0.625rem 0.625rem 0.625rem 0;
  padding: 0.3125rem 0.9375rem 0.375rem;
}
.cb-button:hover {
  background: var(--cb-button-hover-bg);
}
.cb-button:last-of-type {
  margin-right: 0;
}
.cb-button-content {
  font-size: 0.95rem;
  line-height: 2;
  font-weight: 400;
  display: inline;
}
.cb-option {
  position: relative;
  padding: 1.25rem 0;
}
.cb-option-label {
  font-weight: 600;
  text-align: left;
  padding-left: 2.1875rem;
  margin-bottom: 0.25rem;
}
.cb-option-input,
.cb-option-label {
  display: inline-block;
  cursor: pointer;
}
.cb-option-input {
  opacity: 0;
  position: absolute;
  vertical-align: middle;
  width: 1.125rem;
  height: 1.125rem;
  top: 1.375rem;
  left: 0;
  z-index: 1;
}
.cb-option-input:checked + .cb-option-checkbox {
  background: #222;
}
.cb-option-input:checked + .cb-option-checkbox:after {
  opacity: 1;
}
.cb-option-input:disabled {
  cursor: not-allowed;
}
.cb-option-input:disabled + .cb-option-checkbox {
  cursor: not-allowed;
  background: #cecece;
  border-color: #cecece;
}
.cb-option-input:disabled + .cb-option-checkbox + .cb-option-label {
  cursor: not-allowed;
}
.cb-option-checkbox {
  transition: border-color 0.3s ease-in-out;
  background: #fff;
  border: 2px solid #222;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  position: absolute;
  vertical-align: middle;
  width: 1.125rem;
  height: 1.125rem;
  top: 1.3125rem;
  left: 0;
  -webkit-user-select: none;
  user-select: none;
}
.cb-option-checkbox:after {
  transform: rotate(45deg);
  opacity: 0;
  content: "";
  position: absolute;
  left: 0.375rem;
  top: 0.1875rem;
  display: block;
  width: 0.25rem;
  height: 0.5rem;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: #fff;
  font-size: 0.375rem;
}
.cb-option-text {
  padding-left: 2.1875rem;
}
.cb-bar {
  background: var(--cb-background);
  color: var(--cb-text);
  box-shadow: 0.0625rem 0.0625rem 1.5625rem 0.0625rem rgba(0, 0, 0, 0.33);
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s;
  overflow-y: auto;
  max-height: 100vh;
}
.cb-bar-c {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 87.5rem;
  padding: 1.25rem;
}
.cb-bar-text {
  display: block;
  padding: 0.625rem 0;
}
.cb-bar-buttons {
  margin-bottom: -0.625rem;
}
.cb-popup {
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.cb-popup-c {
  background: #fff;
  color: #222;
  box-shadow: 0.0625rem 0.0625rem 1.5625rem 0.0625rem rgba(0, 0, 0, 0.5);
  max-height: calc(100vh - 4rem);
  position: relative;
  margin: auto;
  width: 40.625rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}
.cb-popup-head {
  border-bottom: 1px solid #ddd;
}
.cb-popup-title {
  font-size: 1.125rem;
  line-height: 1.55556;
  font-weight: 600;
  margin: 0 0 0.625rem;
}
.cb-popup-text {
  margin: 0.625rem 0 1.25rem;
}
.cb-popup-options {
  overflow-y: auto;
  margin-bottom: 0.625rem;
  padding-right: 1.25rem;
  margin-right: -1.25rem;
}
.cb-popup .cb-button {
  margin: 0;
}
.b-sp {
  margin: 0 !important;
}
.b-sp-c {
  transition: background-color 0.3s ease-in-out !important;
}
.b-sp-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
:root {
  --sbm-accent: 255, 109, 0;
  --sbm-accentContrast: 141, 58, 0;
  --sbm-secondary: 255, 255, 255;
  --sbm-text: 0, 0, 0;
  --sbm-textSecondary: 102, 102, 120;
  --sbm-border: 224, 224, 224;
  --sbm-background: 245, 245, 245;
  --sbm-link: 255, 109, 0;
  --sbm-success: 76, 175, 80;
  --sbm-error: 244, 67, 54;
  --sbm-warning: 255, 152, 0;
}
.l {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.l-page {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.l-w {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;
  grid-template-areas: "a" "b" "c";
  position: relative;
}
.l-h {
  grid-area: a;
}
.l-h,
.l-m {
  width: 100%;
  margin: 0;
  padding: 0;
}
.l-m {
  grid-area: b;
  position: relative;
  z-index: 3;
}
.l-m,
.l-m .sw,
.l-m .sw-c {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.l-f {
  grid-area: c;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}
.l-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}
@-moz-document url-prefix() {
  .l {
    display: block !important;
  }
  .l.wnd-fe .l-page {
    min-height: 100svh;
  }
}
@-moz-document url-prefix() {
}
.s-f-l {
  font-size: 0;
  line-height: 0;
  padding: 0.1875rem 0;
}
.s-f-l-c {
  width: 100%;
  text-align: center;
}
.s-f-ccy,
.s-f-lang {
  display: none;
}
.s-f-lang {
  margin-top: 0.9375rem;
}
.s-f-ccy {
  margin-top: 0.625rem;
}
.s-hm {
  width: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.s-hm .s-w {
  width: 100%;
}
.s-hm .h-c,
.s-hm .s-o,
.s-hm .s-w {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
.s-hm .s-c {
  width: 100%;
}
.s-hm .h-c-b {
  width: auto;
}
.s-hm.s-hm-editzone .h-c-b {
  width: 100%;
}
.s-hm.wnd-p-cc .b-btn:not(.form-submit) {
  text-align: center;
}
.s-hm.hn-default.wnd-nh-m {
  margin-top: -4.625rem;
}
.s-hm.hn-default.wnd-nh-m .s-o {
  padding-top: 4.625rem;
}
.s-hm.hn-default.wnd-nh-m .s-bg {
  top: 4.625rem;
}
.s-hm.hn-default.wnd-nh-m.hn-no-bg .s-bg {
  top: 0;
}
.wnd-na-c .s-o {
  justify-content: center;
}
.s-hn-default.wnd-nh-m {
  height: 4.625rem;
}
.s-hn {
  z-index: 32;
  width: 100%;
  overflow: visible;
}
.s-hn .s-bg {
  opacity: 1;
  transition: opacity 0.3s linear;
}
.s-hn .s-o,
.s-hn .s-w {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: inherit;
}
.s-hn .cart-and-mobile {
  float: right;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  position: relative;
  height: 3.125rem;
}
.s-hn .h-w {
  transition: background 0.3s linear;
  width: 100%;
  background-color: transparent;
  z-index: 70;
}
.s-hn .n-l {
  transition: right 0.2s ease-in, background-color 0.1s linear;
  margin: 0 auto;
  padding: 0 0.625rem;
}
.s-hn .n-l,
.s-hn .s-c {
  width: 100%;
  height: 100%;
}
.s-hn .s-c {
  position: relative;
  padding: 0.3125rem 0;
  margin: 0 !important;
}
.s-hn.hn-no-bg .s-bg {
  background: transparent;
}
.wnd-fixed {
  border-bottom: 0 solid transparent;
}
.wnd-mt-classic #menu-mobile {
  order: 2;
}
.wnd-mt-classic:not(.s-hn-centered) #menu-slider {
  order: 2;
  margin-left: auto;
}
.wnd-mt-classic:not(.s-hn-centered) .cart-and-mobile {
  order: 3;
  flex-shrink: 0;
}
.s-hn-default .h-f {
  min-height: 3.75rem;
}
.s-hn-default .h-f .s-c {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.s-hn-default .logo-block {
  float: left;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  order: 1;
  padding-right: 1.25rem;
  flex-shrink: 1;
}
@supports (padding: max(0)) {
}
.s-hc {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.s-hc-c {
  width: 100%;
}
.s-hc .s-c,
.s-hc .s-o,
.s-hc .s-w {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}
.s-hc-claim {
  margin: 0;
}
:root {
  --ac-bg-soft: hsl(
    var(--ac-color-h),
    var(--ac-color-s),
    calc(var(--ac-color-l) + ((100% - var(--ac-color-l)) / 100 * var(--ac-acs)))
  );
  --ac-bg-light: hsl(
    var(--ac-color-h),
    var(--ac-color-s),
    calc(var(--ac-color-l) + ((100% - var(--ac-color-l)) / 100 * var(--ac-acl)))
  );
  --ac-bg-dark: hsl(
    var(--ac-color-h),
    var(--ac-color-s),
    calc(var(--ac-color-l) + (var(--ac-color-l) / 100 * var(--ac-acd)))
  );
  --ac-icon-outline-lbg: hsl(
    var(--ac-color-h),
    var(--ac-color-s),
    calc(var(--ac-color-l) + (var(--ac-color-l) / 100 * -14))
  );
  --ac-icon-border-lbg: hsl(
    var(--ac-color-h),
    var(--ac-color-s),
    calc(var(--ac-color-l) + ((100% - var(--ac-color-l)) / 100 * 20))
  );
  --ac-icon-outline-dbg: hsl(
    var(--ac-color-h),
    var(--ac-color-s),
    calc(var(--ac-color-l) + ((100% - var(--ac-color-l)) / 100 * 34))
  );
  --ac-icon-border-dbg: hsl(
    var(--ac-color-h),
    var(--ac-color-s),
    calc(var(--ac-color-l) + (var(--ac-color-l) / 100 * -22))
  );
}
.wnd-page:not(.ac-none) .s:not([class*="sc-ac"]) {
  --sbm-accent: var(--ac-color-rgb);
  --sbm-accentContrast: var(--ac-basic-rgb);
  --sbm-link: var(--ac-color-rgb);
}
.wnd-page:not(.ac-none) .s:not([class*="sc-ac"]) .b-text h1:after {
  background-color: var(--ac-color);
}
.wnd-page:not(.ac-none) .s:not([class*="sc-ac"]) .b-text h1:before {
  background-color: rgba(var(--ac-color-rgb), 0.3);
}
.ac-s .wnd-page:not(.ac-none) .s:not([class*="sc-ac"]) .ez-c > .b-text h3 {
  color: var(--ac-color);
}
.wnd-page:not(.ac-none) .s:not([class*="sc-ac"]) .b-text h3:before {
  background-color: var(--ac-color);
}
.wnd-page:not(.ac-none) .s:not([class*="sc-ac"]) .b-btn.b-btn-3 .b-btn-l {
  background-color: var(--ac-color);
  border-color: var(--ac-color);
  color: var(--ac-basic);
}
body.wnd-fe:not(.touched)
  .wnd-page:not(.ac-none)
  .s:not([class*="sc-ac"])
  .b-btn.b-btn-3
  .b-btn-l:hover {
  color: var(--ac-basic);
  background-color: hsl(
    var(--ac-color-h),
    var(--ac-color-s),
    calc(var(--ac-color-l) + var(--ac-color-l) / 100 * -10)
  ) !important;
  border-color: hsl(
    var(--ac-color-h),
    var(--ac-color-s),
    calc(var(--ac-color-l) + var(--ac-color-l) / 100 * -10)
  ) !important;
}
@container c (min-width:0) {
}
@container c (min-width:150px) {
}
@media screen and (min-width: 20em) {
  .b-btn-s-l .b-btn-l {
    min-width: 14rem;
  }
}
@container c (min-width:320px) {
}
@media screen and (min-width: 22.5em) {
  .logo-classic .b-l,
  .s-hn-default .logo-block {
    max-width: 17.5rem;
  }
}
@media screen and (min-width: 24.375em) {
  .wnd-s-normal .s-c {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
  .wnd-s-high .s-c {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
  .wnd-s-high.s-f .s-c {
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
  }
  .logo-classic .b-l {
    max-width: 20rem;
  }
  .s-hn-default .logo-block {
    max-width: 20rem;
  }
}
@media screen and (max-width: 56.24375em) and (min-width: 24.375em) {
  #menu {
    right: -27.5rem;
    width: 27.5rem;
  }
}
@container c (min-width:390px) {
}
@container c (min-width:800px) {
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  a,
  a:active,
  a:focus,
  a:hover {
    outline: none !important;
  }
}
@media print {
  .l-w {
    max-width: 100% !important;
  }
  @page {
    margin: 1cm;
  }
  body,
  h1,
  h2,
  h3,
  p {
    color: #000 !important;
    background: #fff !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  h1,
  h2,
  h3 {
    break-after: avoid-page;
  }
  p {
    orphans: 2;
    widows: 2;
  }
  strong {
    display: inline !important;
  }
  * :not(.b-gal-t span, form input, form select) {
    background-image: none !important;
    background-color: transparent !important;
    color: #000 !important;
    transition: none !important;
    animation: none !important;
  }
  .s-bg-l picture,
  .wnd-background-image picture {
    display: none;
  }
  img {
    max-width: 100% !important;
  }
  .c {
    width: 100% !important;
    float: none;
    padding: 0.625rem 0;
  }
  .l-h,
  .l-m,
  .l-page,
  .l-w,
  .sw,
  .sw-c {
    display: block !important;
  }
  #cookiebar,
  #menu,
  #menu-mobile,
  #menu-slider,
  .cart-and-mobile,
  .cb,
  .lang-select,
  footer {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
    overflow: hidden !important;
  }
  .logo {
    max-width: 100% !important;
    overflow: visible !important;
  }
  .logo .logo-content {
    text-shadow: none !important;
    width: max-content;
  }
  .s-hn.logo-classic .s-w {
    flex-direction: row;
  }
  .b-btn-s-l .b-btn-l {
    min-width: auto;
    border-color: #000 !important;
    box-shadow: none !important;
  }
  a {
    text-decoration: underline;
    word-wrap: break-word;
  }
  a :visited {
    color: #000 !important;
  }
  a[href^="#"]:after {
    content: "";
  }
}
@media screen and (max-width: 37.49375em) {
  .c {
    width: 100% !important;
    float: none;
    padding: 0.625rem 0;
  }
  .cw .c:first-child {
    padding-top: 0;
  }
  .cw .c:last-child {
    padding-bottom: 0;
  }
  .cw:first-child .c:first-child {
    padding-top: 0;
  }
  .cw:last-child .c:last-child {
    padding-bottom: 0;
  }
  .b-sp {
    display: none;
  }
}
@media screen and (max-width: 56.24375em) {
  #menu-mobile {
    display: block;
    line-height: 0;
    text-align: right;
    position: relative;
  }
  .wnd-menu-empty #menu-mobile {
    display: none;
  }
  #menu-submit {
    width: 1.125rem;
    height: 1.25rem;
    cursor: pointer;
    padding: 1.25rem;
    display: inline-block;
    text-indent: -999em;
    z-index: 99;
    text-decoration: none;
    margin: 0;
    color: transparent;
    font-size: 0;
  }
  #menu-submit span,
  #menu-submit span:after,
  #menu-submit span:before {
    transform: translateX(-50%);
    left: 50%;
    content: "";
    cursor: pointer;
    height: 0.125rem;
    width: 1.125rem;
    position: absolute;
    display: block;
  }
  #menu-submit span:before {
    bottom: 0.375rem;
  }
  #menu-submit span:after {
    bottom: -0.375rem;
  }
  #menu {
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 100;
    overflow-y: auto;
    height: 100%;
    transform: translate3d(0, 0, 0);
    transition: right 0.2s ease-in, box-shadow 0.2s ease-in;
    right: -80%;
    width: 80%;
    left: auto;
  }
  #menu {
    display: block;
  }
  #menu ::-webkit-scrollbar {
    display: none;
  }
  #menu > div {
    padding: 1.25rem;
    position: relative;
  }
  .s-hn-default:not(.s-hn-slogan) .s-c {
    max-height: 4.625rem;
  }
}
@container c (max-width:319.9px) {
}
@container c (max-width:599.9px) {
}
@container c (max-width:389.9px) {
}
@container c (max-width:899.9px) {
}
