@media screen and (min-width: 37.5em) {
  .s-c {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  @supports (padding: max(0)) {
    .s-c {
      padding-left: max(0.625rem, env(safe-area-inset-left));
      padding-right: max(0.625rem, env(safe-area-inset-right));
    }
  }
  .wnd-s-normal .s-c {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .wnd-s-high .s-c {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
  .wnd-s-high.s-f .s-c {
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem;
  }
  .wnd-h-auto.s-hm:not(.s-hm-bdh) {
    min-height: 15.625rem;
  }
  .wnd-hh-auto {
    min-height: 15.625rem;
  }
  @supports (padding: max(0)) {
  }
  .b-s {
    padding: 0.9375rem;
  }
  .b-s-t60 {
    padding-top: 0.5625rem;
  }
  .b-s-b60 {
    padding-bottom: 0.5625rem;
  }
  .b-s-t150 {
    padding-top: 1.40625rem;
  }
  .b-s-b150 {
    padding-bottom: 1.40625rem;
  }
  .logo-classic .b-l {
    max-width: 28.125rem;
  }
  .logo.logo-25 {
    font-size: 1.075rem;
  }
  .logo-classic .logo-25 {
    line-height: 1.6;
  }
  .logo-classic .logo-25 .b-l-text-c {
    max-height: 3.2em;
  }
  .claim .claim-72 {
    font-size: 3.375rem;
  }
  .claim-nb {
    line-height: 150%;
  }
  .claim-default .sit-w {
    text-wrap: balance;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .b-btn-s-l .b-btn-l {
    min-width: 16rem;
  }
  .b-btn-s-l .c .b-btn-l {
    min-width: 100%;
    max-width: 100%;
  }
  @container c (min-width:320px) {
    .b-btn-s-l .c .b-btn-l {
      min-width: 14rem;
    }
  }
  @container c (min-width:600px) {
    .b-btn-s-l .c .b-btn-l {
      min-width: 16rem;
    }
  }
  @container c (min-width:320px) {
  }
  @container c (min-width:600px) {
  }
  @container c (max-width:599.9px) {
  }
  @container c (max-width:599.9px) {
  }
  @container c (max-width:599.9px) {
  }
  @container c (min-width:600px) {
  }
  @container c (max-width:599.9px) {
  }
  .cb-button {
    margin: 0.875rem 1.25rem 0.875rem 0;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
  .cb-bar-buttons {
    margin-bottom: 0;
  }
  .cb-popup-c {
    padding: 2rem;
  }
  .s-hn .n-l {
    padding: 0 1.5625rem;
  }
  .s-hn-default .logo-block {
    max-width: 28.125rem;
  }
}
@media screen and (min-width: 56.25em) {
  .s-c {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
  @supports (padding: max(0)) {
    .s-c {
      padding-left: max(0.9375rem, env(safe-area-inset-left));
      padding-right: max(0.9375rem, env(safe-area-inset-right));
    }
  }
  .wnd-s-normal .s-c {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
  .wnd-s-high .s-c {
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
  }
  .wnd-s-high.s-f .s-c {
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
  }
  .wnd-h-auto.s-hm:not(.s-hm-bdh) {
    min-height: 18.75rem;
  }
  .wnd-hh-auto {
    min-height: 18.75rem;
  }
  @supports (padding: max(0)) {
  }
  .b-s {
    padding: 1.25rem;
  }
  .b-s-t60 {
    padding-top: 0.75rem;
  }
  .b-s-b60 {
    padding-bottom: 0.75rem;
  }
  .b-s-t150 {
    padding-top: 1.875rem;
  }
  .b-s-b150 {
    padding-bottom: 1.875rem;
  }
  .logo.logo-25 {
    font-size: 1.5625rem;
  }
  .logo-classic .logo-25 {
    line-height: 1.4;
  }
  .logo-classic .logo-25 .b-l-text-c {
    max-height: 2.8em;
  }
  #menu:after {
    content: "desktop";
  }
  .wnd-mt-classic:not(.s-hn-centered) #menu {
    float: right;
    top: auto;
  }
  .l:not(.menu-ready) .wnd-mt-classic:not(.s-hn-centered) {
    overflow: hidden;
  }
  .l:not(.menu-ready) .wnd-mt-classic:not(.s-hn-centered) #menu-slider {
    display: block;
    min-width: 0;
    overflow: hidden;
  }
  .l:not(.menu-ready) .wnd-mt-classic #menu-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    -webkit-mask-image: linear-gradient(90deg, #000 85%, transparent);
  }
  .wnd-mt-classic #menu {
    position: relative;
  }
  .wnd-mt-classic #menu > div {
    display: block;
    margin: 0;
  }
  .claim .claim-72 {
    font-size: 4rem;
  }
  .claim-default .sit-w {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
  @container c (max-width:599.9px) {
  }
  .cb-popup-c {
    max-height: 80vh;
  }
  .s-f .it-c {
    padding: 0.0625rem 0.625rem;
  }
  .s-f-l-c-currency,
  .s-f-l-c-last {
    flex-grow: 1;
    flex-shrink: 0;
    width: auto;
  }
  .s-f-ccy,
  .s-f-lang {
    margin-top: 0;
  }
  .s-f-basic .s-f-l-c-last {
    text-align: left;
    max-width: 30%;
    flex-grow: 1;
    flex-shrink: 0;
    width: auto;
  }
  .s-f-basic .s-f-l-c-currency {
    text-align: left;
    max-width: 25%;
    flex-grow: 1;
    flex-shrink: 0;
    width: auto;
  }
  .s-hm.hn-default.wnd-nh-m {
    margin-top: -5.125rem;
  }
  .s-hm.hn-default.wnd-nh-m .s-o {
    padding-top: 5.125rem;
  }
  .s-hm.hn-default.wnd-nh-m .s-bg {
    top: 5.125rem;
  }
  .s-hn-default.wnd-nh-m {
    height: 5.125rem;
  }
  .s-hn .n-l {
    padding: 0 2.1875rem;
  }
  .s-hn-default .logo-block {
    flex-shrink: 0;
  }
  @supports (padding: max(0)) {
  }
}
@media screen and (min-width: 75em) {
  .s-c {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  @supports (padding: max(0)) {
    .s-c {
      padding-left: max(1.25rem, env(safe-area-inset-left));
      padding-right: max(1.25rem, env(safe-area-inset-right));
    }
  }
  .wnd-s-normal .s-c {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  .wnd-s-high .s-c {
    padding-top: 6.875rem;
    padding-bottom: 6.875rem;
  }
  .wnd-s-high.s-f .s-c {
    padding-top: 3.4375rem;
    padding-bottom: 3.4375rem;
  }
  @supports (padding: max(0)) {
  }
  .claim .claim-72 {
    font-size: 4.5rem;
  }
  @container c (min-width:320px) {
  }
  @container c (min-width:600px) {
  }
  @container c (min-width:320px) {
  }
  @container c (min-width:600px) {
  }
  @container c (max-width:599.9px) {
  }
  @container c (max-width:599.9px) {
  }
  @container c (max-width:599.9px) {
  }
  @container c (max-width:599.9px) {
  }
  .cb-button {
    margin: 0.875rem 0 0.875rem 1.25rem;
  }
  .cb-button:first-of-type {
    margin-left: 0;
  }
  .cb-bar-c {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .cb-bar-text {
    padding: 0.875rem 5% 0.875rem 0;
    width: 50%;
  }
  .cb-bar-buttons {
    text-align: right;
    align-self: center;
    flex-basis: 0;
    flex-grow: 1;
  }
  .s-hn .n-l {
    padding: 0 2.5rem;
  }
}
@container c (min-width:600px) {
}
@container c (min-width:768px) {
}
@container c (min-width:900px) {
}
@container c (min-width:1200px) {
}
