@charset "UTF-8";
.t {
  letter-spacing: -0.015em;
  font-family: Metropolis, Metropolis-Fallback, Apple Color Emoji,
    Noto Color Emoji, sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: subpixel-antialiased;
  font-style: normal;
}
.t-p-fs-m .t {
  font-size: 1.075rem;
}
.t-p-fw-m .t {
  font-weight: 400;
}
.t-p-fw-m .t .b-text strong {
  font-weight: 600;
}
.t-p-fs-m .t .c-c {
  font-size: 1.075rem;
}
.t .b-text h1 {
  padding: 0 0 0.9375rem;
  letter-spacing: -0.015em;
  overflow: hidden;
  font-family: Metropolis, Metropolis-Fallback, Apple Color Emoji,
    Noto Color Emoji, sans-serif;
  line-height: 1.3;
  text-align: left;
  font-style: normal;
  position: relative;
  margin: 0;
}
.t-t-fs-l .t .b-text h1 {
  font-size: 2.25rem;
}
.t-t-fw-m .t .b-text h1 {
  font-weight: 400;
}
.t-t-fw-m .t .b-text h1 strong {
  font-weight: 600;
}
.l-page:not(.t-t-d-t, .t-t-d-s) .t .b-text h1:last-child {
  padding-bottom: 0;
}
.t .b-text h2 {
  padding: 0 0 0.5rem;
  margin: 0;
  letter-spacing: 0;
  font-family: Metropolis, Metropolis-Fallback, Apple Color Emoji,
    Noto Color Emoji, sans-serif;
  line-height: 1.35;
  text-align: left;
  font-style: normal;
  position: relative;
}
.t-h-fs-l .t .b-text h2 {
  font-size: 1.8125rem;
}
.t-h-fw-m .t .b-text h2 {
  font-weight: 400;
}
.t-h-fw-m .t .b-text h2 strong {
  font-weight: 600;
}
.t .b-text h2:last-child {
  padding-bottom: 0;
}
.t .b-text h3 {
  padding: 0 0 0.75rem;
  letter-spacing: -0.015em;
  overflow: hidden;
  font-family: Metropolis, Metropolis-Fallback, Apple Color Emoji,
    Noto Color Emoji, sans-serif;
  line-height: 1.5;
  text-align: left;
  font-style: normal;
  position: relative;
  margin: 0;
}
.t-s-fs-m .t .b-text h3 {
  font-size: 1.125rem;
}
.t-s-fw-m .t .b-text h3 {
  font-weight: 400;
}
.t-s-fw-m .t .b-text h3 strong {
  font-weight: 600;
}
.l-page:not(.t-s-d-t, .t-s-d-s) .t .b-text h3:last-child {
  padding-bottom: 0.1875rem;
}
.t .b-text p {
  padding: 0 0 0.875rem;
  margin: 0;
}
.t .b-text p:last-child {
  padding-bottom: 0;
}
.t .b-btn-l {
  letter-spacing: 0;
}
.t .b-btn-l {
  font-family: Metropolis, Metropolis-Fallback, Apple Color Emoji,
    Noto Color Emoji, sans-serif;
  line-height: 1.6;
}
.t-p-fs-m .t .b-btn-l {
  font-size: 1.125rem;
}
.t-btn-fw-l.t-p-fw-m .t .b-btn-l {
  font-weight: 400;
}
.t .b-btn:not(.b-btn-5) .b-btn-l > .b-btn-t {
  position: relative;
}
.t .s-f .s-f-l .it > span {
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 1.6;
  font-family: Metropolis, Noto Sans, Apple Color Emoji, Noto Color Emoji,
    sans-serif;
}
.t .menu-font {
  font-family: Metropolis, Metropolis-Fallback, Apple Color Emoji,
    Noto Color Emoji, sans-serif;
}
@container c (min-width:390px) {
  .t .b-text p {
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 56.24375em) {
  .t .wnd-mt-classic #menu-submit > span:before {
    bottom: 0.4375rem;
  }
  .t .wnd-mt-classic #menu-submit > span:after {
    bottom: -0.4375rem;
  }
}
