@media screen and (min-width:37.5em) {
    .t-p-fs-m .t {
        font-size: 1.1875rem;
    }
}
@media screen and (min-width:56.25em) {
    .t-p-fs-m .t {
        font-size: 1.375rem;
    }
}
@container c (min-width:600px) {
    .t-p-fs-m .t .c-c {
        font-size: 1.1875rem;
    }
    .t .b-text h3 {
        padding-bottom: .75rem;
    }
    .t-s-fs-m .t .b-text h3 {
        font-size: 1.25rem;
    }
    .t .b-text p {
        padding-bottom: 1.25rem;
    }
}
@container c (min-width:768px) {
}
@container c (min-width:900px) {
    .t-p-fs-m .t .c-c {
        font-size: 1.375rem;
    }
    .t .b-text h1 {
        padding-bottom: 1.875rem;
    }
    .t-t-fs-l .t .b-text h1 {
        font-size: 3.75rem;
    }
    .t .b-text h2 {
        padding-bottom: .625rem;
    }
    .t-h-fs-l .t .b-text h2 {
        font-size: 2.25rem;
    }
    .t .b-text h3 {
        padding-bottom: 1rem;
    }
    .t-s-fs-m .t .b-text h3 {
        font-size: 1.5625rem;
    }
}
@container c (min-width:1200px) {
    .t .b-text h1 {
        padding-bottom: 1.875rem;
    }
    .t-t-fs-l .t .b-text h1 {
        font-size: 4.375rem;
    }
    .t .b-text h2 {
        padding-bottom: .75rem;
    }
    .t-h-fs-l .t .b-text h2 {
        font-size: 2.625rem;
    }
}